
<div class="row">
    <div class="col text-center">
        <h1>Successfully Registered!</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center ">
        <h1><a asp-controller="Home" asp-action="Index" class="text-dark"><span class="text-danger">C</span>ode<span class="text-danger">Sharp</span>ener</a></h1>
    </div>
</div>