@{
    ViewData["Title"] = "About Me";
}
<!-- Contact-->
<section class="page-section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">A little bit about the Author</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">@*Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!*@</p>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0 align-self-end">
                <img src="~/images/aircraft.jpg" style="width:85%;" alt="AircraftPhoto" />
                <div>SSG Lee, Richard M </div>
                <div>Aircraft Production Control Supervisor</div>
            </div>
            <div class="col-lg-4 mr-auto text-center align-self-end">
                <img src="~/images/LinkedinPhoto.png" style="width:85%;" alt="suit & tie photo" />
                <div>Richard Lee</div>
                <div>Cloud Network Engineer at Microsoft</div>
            </div>
        </div>
        <div class="row my-5"></div>
        <div class="row">
            <p>
                My name is Richard Lee, I spent the last 11 years in the Army as a Production Control Supervisor. As a Production Control Supervisor, I managed the scheduled and unscheduled maintenance of 41 aircraft and the work priority of about 150 mechanics.
            </p>
            <p>
                One of my System Administers told me I would be great at programming and introduced me to JavaScript. From there, as soon as I completed my tour in Iraq, I signed up for a coding bootcamp, and was sitting inside Coding Dojo’s classroom within 3 weeks of getting home. I enjoyed learning three different languages in three months, but felt like I wanted to get really good at C#, my favorite of the three. I found Microsoft Software and Systems Academy, that taught C# and the associated technologies for 19 weeks, and signed up.
            </p>
            <p>
                At Microsoft Software and Systems Academy, I learned about C#, ASP.Net Core 3.1, Transact SQL, and Azure. I also learned a lot about how the professional world develops software such as Agile methodologies and test driven development.
            </p>
            <p>
                I am now a Cloud Network Engineer at Microsoft. As networking transitions from physical to the cloud, Cloud Networkers need to have an understanding of both networking and software engineering. I mainly work on connecting other Microsoft teams to Microsoft's internal network. 
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (206) 488-2771</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:richard.minsoo.lee@outlook.com">richard.minsoo.lee@outlook.com</a>
            </div>
        </div>
    </div>
</section>