@{
    ViewData["Title"] = "About Me";
}
<!-- Contact-->
<section class="page-section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">A little bit about the Author</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">@*Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!*@</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <img src="~/images/aircraft.jpg" style="width:85%;" alt="AircraftPhoto" />
                <div>SSG Lee, Richard M</div>
                <p>
                    I spent 11 years in the U.S. Army... finish this...
                </p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <img src="~/images/LinkedinPhoto.png" style="width:85%;" alt="suit & tie photo" />
                <div>Richard Lee | Software Engineer at TBD (hopefully Microsoft)</div>
                <p>
                    I graduated from Coding Dojo, then decided to specialize in C# and ASP.NET at Microsoft Software and Systems Academy... finish this...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:contact@yourwebsite.com">ContactUs@CodeSharpener.com</a>
            </div>
        </div>
    </div>
</section>