@{
    ViewData["Title"] = "Code Editor";
}
<div class="container">
    <div class="row">
        <div class="col">
            <textarea class="codemirror-textarea">
</textarea>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col">
            <a href="codeeditor"><img class="img-responsive" width="100%" src="images/EmbeddedEditorExample.jpg" alt=""></a>
        </div>
    </div>
</div>