@{
    ViewData["Title"] = "Code Editor";
}
<div class="container">
    <div class="row">
        <div class="col">
            <textarea class="codemirror-textarea">
</textarea>
        </div>
    </div>
</div>