@{
    ViewData["Title"] = "Contents";
}
<div class="container">
    <div id="about" class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Problem Solving Approach</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Problem Solving Patterns</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Recursion</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Searching Algorithms</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Bubble Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Selection Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Insertion Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Merge Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Quick Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col text-center h3">Radix Sort</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
</div>