@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row my-5"></div>
    <div class="row">
        <div class="col text-center m-5">
            <div class="row">
                <div class="col mt-5"><h1><span class="text-danger">C</span>ode<span class="text-danger">Sharp</span>ener</h1></div>
            </div>
            <div class="row">
                <div class="col"><p>Algorithms<br>&<br>Data Structures in C#</p></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="Users/Create" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div id="about" class="row my-5"></div>
    
    <div class="row mt-5">
        <div class="col text-center h3">What is <span class="text-danger">C</span>ode<span class="text-danger">Sharp</span>ener?</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8tPnX7OPo0Q" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div id="cards" class="row my-5"></div>
    <div class="row block-center mt-5 ml-3 mr-3 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Big O Notation</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="BigO" class="btn btn-primary">Big O</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Video Explanations</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Content" class="btn btn-primary">Video Explanations</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Structures</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="DataStructures" class="btn btn-primary">Data Structures</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">100s of Coding Challenges</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="../challenges/index" class="btn btn-primary">Code Challenges</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Solutions in C#</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="../solutions/index" class="btn btn-primary">Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://w0.pngwave.com/png/1013/1010/web-development-computer-programming-logo-others-png-clip-art.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Embedded Code Editor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="codeeditor" class="btn btn-primary">Code Editor</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row my-5"></div>
    <div class="row mt-5">
        <div class="col">
            <a href="codeeditor"><img class="img-responsive" width="100%" src="images/EmbeddedEditorExample.jpg" alt=""></a>
        </div>
    </div>
</div>